/* :root {
  --color-bg-appBackgroundColor: #0e191e;
  --color-bg-primary: #d71082;
  --color-bg-footer: #351e3e;
} */
:root {
  --color-bg-appBackgroundColor: #0e191e;
  --color-bg-primary: #7a087a;
  --color-bg-footer: #3c1d45;
}
